<div class="rightCol">
  <% if admin_user %>
    <%= link_to 'New language', new_language_path %>
  <% end %>	
</div>


<div class="main">
<h2>Supported languages</h2>
<div id="languages">
<%= success_messages %>
<table class="grid">
  <tr class="head">
    <td>Name</td>
    <td>Description</td>
    <td>Pastes count</td>
    <% if admin_user %>
    <td>Action</td>
    <% end %>
  </tr>
  <%=render :partial => 'language' , :collection => @languages %>
</table>
</div>
</div>
