<div id="content">
<h1>Login with Twitter</h1>

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= oauth_register_button :value => "Login with Twitter", :class => 'twitter' %>
<% end %>

 
</div>