<div class="rightCol">
  <div class="side-box">
    <h3 style="color:#D5060D;">Notice</h3>
    <p> 
	   If you can not access <a href="http://twitter.com">twitter</a> directly,
	   Please climb over the wall (For China users ) or send us a mail 
	   <a href="mailto:twpaste@gmail.com">twpaste@gmail.com</a> 
	   for a free VPN service :)
	</p>
	<p> 
	  Password of free VPN: <strong>s3d5g9</strong>
	</p>
  </div>
  <%=render :partial => 'tiles/sidebox/follow_us' %>
</div>

<div class="main">
   <h2>Login with Twitter</h2>
   <div style="padding:30px;">
   <% form_for @user, :url => users_path do |f| %>
      <%= f.error_messages %>
      <%= oauth_register_button :value => "Login with Twitter", :class => 'twitter-icon' %>
   <% end %>
   </div>
 
</div>